{% extends "dashboard_base_dosen.html" %}
{% block title %} Dosen Dashboard{% endblock %}
{% block body %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="content">
            <div class="row">
              <div class="col-xs-5">
                <div class="icon-big icon-warning text-center">
                  <i class="ti-server"></i>
                </div>
              </div>
              <div class="col-xs-7">
                <div class="numbers">
                  <p>Mahasiswa</p>
                  10
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="content">
            <div class="row">
              <div class="col-xs-5">
                <div class="icon-big icon-success text-center">
                  <i class="ti-wallet"></i>
                </div>
              </div>
              <div class="col-xs-7">
                <div class="numbers">
                  <p>Total Job</p>
                  2
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">List Pekerjaan</h4>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-striped">
                <thead>
                  <th>ID</th>
                  <th>Nama pekerjaan</th>
                  <th>Pemberi kerja</th>
                  <th>Total Bid</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr>
                    <td>001</td>
                    <td>Isi Kisioner</td>
                    <td>Joko</td>
                    <td>10</td>
                    <td>Detail</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
